.gray {
    color: #000;
    /* margin: 0.5em; */
}
.side-image {
    height: 30em;
}

.banner {
    height: 20em;
    background-position: right, center;
    background-image: url(../img/wall-paper/erhabor-efosa.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: #333; */
}
.banner nav ul.profile {
    display: flex;
    flex-direction: row;
  }

.banner h2 {
    width: 75%;
}
.introduction {

}
.nav-item-2 {
    list-style-type: none;
    margin-left: .5em;
    margin-right: .5em;
}
.nav-item-social {
    list-style-type: none;
    margin-left: .1em;
    margin-right: .1em;
}
@media (max-width: 576px) {
    .banner {
        min-height: 30em;
        height: 30em;
        background-position: center center;
    }

    .banner h1 {
        text-align: center;
        margin: 0;
    }
    .banner nav ul.profile {
        margin: 0;
        background-position: center;
        background-attachment: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .introduction {
    
    }
  }
