.gray {
    color: #000;
    /* margin: 0.5em; */
}
.side-image {
    height: 30em;
}

.banner {
    height: 20em;
    background-position: right, center;
    background-image: url(../img/wall-paper/erhabor-efosa.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: #333; */
}
.banner nav ul.profile {
    display: flex;
    flex-direction: row;
  }

.banner h2 {
    width: 75%;
}
.introduction {

}
.nav-item-2 {
    list-style-type: none;
    margin-left: .5em;
    margin-right: .5em;
}
.nav-item-social {
    list-style-type: none;
    margin-left: .1em;
    margin-right: .1em;
}
@media (max-width: 576px) {
    .banner {
        min-height: 30em;
        height: 30em;
        background-position: center center;
        background-image: url(../img/wall-paper/erhabor-efosa-mobile.png);
    }

    .banner h1 {
        text-align: center;
        margin: 0;
    }

    .nav-menu-social {
        flex-direction: column;
        
    }
    .banner nav ul.profile {
        margin: 0;
        background-position: center;
        background-attachment: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .introduction {
    
    }
  }
.underline-primary {
    border-bottom: #007bff solid thin;
}
.underline-info {
    border-bottom: #17a2b8 solid thin;
}
.underline-warning {
    border-bottom: #ffc107 solid thin;
}
.underline-danger {
    border-bottom: #dc3545 solid thin;
}
.profile-items {
    color: #000000;
    text-transform: capitalize;
    font-size: larger;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
    margin-bottom: 2em;
}
.underline-default {
    border-bottom: #333333 solid thick;
}
.underline-default:hover {
    border-bottom: #000000 solid thick;
}
.profile-definition {
    text-align: start;
    font-size: xx-large;

}
.comma {
    font-size: x-large;
    font-weight: 900;
}

.profile-items:hover {
    color: #F6684F;
}